.App {
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../../images/Banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.AppImage {
    width: 400px;
    height: 400px;
    margin-top: 10%;
}

.title {
    width: 80%;
    margin: 20px auto;
    padding: 12px 0;
    background-color: white;
  
}

@media (max-width: 600px) {
    .AppImage {
        width: 250px;
        height: 250px;
        margin-top: 10%;
    }
}